mixin footer()
    footer
      .container
        .bottom-footer
          p
            span
              | Copyrigth@: 
              script.
                var a = new Date().getFullYear();
                document.write(a);
              |  year 
              span "Nai-dobrata firma" EOOD
              |                     | Repository: 
              a(rel='nofollow', href='https://github.com/danieldimitrov96/telerik-FoodDelivery', target='_parent')
                span.blue Git
                span.green Hub
