mixin header()
    head
      meta(charset='utf-8')
      title Products - Grill Template
      meta(name='description', content='')
      meta(name='viewport', content='width=device-width')
      link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
      link(rel='stylesheet', href='./../../static/css/font-awesome.css')
      link(rel='stylesheet', href='./../../static/css/templatemo_style.css')
      link(rel='stylesheet', href='./../../static/css/templatemo_misc.css')
      link(rel='stylesheet', href='./../../static/css/flexslider.css')
      link(rel='stylesheet', href='./../../static/css/testimonails-slider.css')
      link(rel='stylesheet', href='../../static/css/main.css')
      //- script(src='//code.jquery.com/jquery-1.11.1.min.js')
      script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')

      link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css', rel='stylesheet')
      script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
      script(src='./../../static/js/vendor/jquery.gmap3.min.js')
      script(src='./../../static/js/plugins.js')
      script(src='./../../static/js/main.js')
      script(src='./../../static/js/vendor/modernizr-2.6.1-respond-1.1.0.min.js')
    header
      #top-header
        .container
          .row
            .col-md-6
              .home-account
                a(href='/') Home
                a.btn(href='#', data-toggle='modal', data-target='.login-register-form')
                  =username
            .col-md-6
              .cart-info
                a#cart(href='#')
                  i.fa.fa-shopping-cart
                  |  Cart
                  span.badge 3
      .row
        .shopping-cart.col-xs-offset-9.pull-right(style='display:none')
          .shopping-cart-header
            i.fa.fa-shopping-cart.cart-icon
            span.badge 3
            .shopping-cart-total
              span.lighter-text Total:
              span.main-color-text $2,229.97
          //- end shopping-cart-header
          ul.shopping-cart-items
            li.clearfix
              img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item1.jpg', alt='item1')
              span.item-name Sony DSC-RX100M III
              span.item-price $849.99
              span.item-quantity Quantity: 01
            li.clearfix
              img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item2.jpg', alt='item1')
              span.item-name KS Automatic Mechanic...
              span.item-price $1,249.99
              span.item-quantity Quantity: 01
            li.clearfix
              img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item3.jpg', alt='item1')
              span.item-name Kindle, 6" Glare-Free To...
              span.item-price $129.99
              span.item-quantity Quantity: 01
          a.button(href='#') Checkout
        //- end shopping-cart
      #main-header
        .container
          .row
            .col-md-3
              .logo
                a(href='#')
                  img(src='./../../static/images/logo.png', title='Grill Template', alt='Grill Website Template')
            .col-md-6
              .main-menu
                ul
                  li
                    a(href='/') Home
                  li
                    a(href='/contacts') Contacts
            .col-md-3
              .search-box
                form.search_form(name='search_form', method='get')
                  input#search(type='text')
                  input#search-button(type='submit')
