mixin nav()
    #heading
      .container
        .row
          .col-md-12
            .heading-content
              h2 Our Products
              span
                a(href='/') Home
    .modal.fade.login-register-form(role='dialog')
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span.glyphicon.glyphicon-remove
            ul.nav.nav-tabs
              li.active
                a(data-toggle='tab', href='#login-form')
                  | Login
                  span.glyphicon.glyphicon-user
              li
                a(data-toggle='tab', href='#registration-form')
                  | Register
                  span.glyphicon.glyphicon-pencil
          .modal-body
            .tab-content
              if messages.length
                .input-error
                  =messages[0]
                  
              #login-form.tab-pane.fade.in.active
                form(action='/login' method='post')
                  .form-group
                    label(for='username') Username:
                    input#email.form-control(type='text', placeholder='Enter username', name='username')
                  .form-group
                    label(for='pwd') Password:
                    input#pwd.form-control(type='password', placeholder='Enter password', name='password')
                  .checkbox
                    label
                      input(type='checkbox', name='remember')
                      |  Remember me
                  button.btn.btn-default(type='submit' value='Log In') Login
              #registration-form.tab-pane.fade
                form(action='/')
                  .form-group
                    label(for='name') Your Name:
                    input#name.form-control(type='text', placeholder='Enter your name', name='username')
                  .form-group
                    label(for='newphone') Phohe number:
                    input#newemail.form-control(type='phone', placeholder='Enter new phone number', name='newphone')
                  .form-group
                    label(for='newpwd') Password:
                    input#newpwd.form-control(type='password', placeholder='New password', name='newpwd')
                  button.btn.btn-default(type='submit') Register
