extends ./_shared/master

block content
    #products-post
      .container
        .row
          .col-md-12
            #product-heading
              h2 Hungry ?
              img(src='./../../static/images/under-heading.png', alt='')
        .row
          .filters.col-md-12.col-xs-12
            ul#filters.clearfix
              li
                span.filter(data-filter='all') All
              li
                span.filter(data-filter='.soups') Soups
              li
                span.filter(data-filter='.drink') Drink
              li
                span.filter(data-filter='.mainDish') Main dish
        #Container.row
          .col-md-3.col-sm-6.mix.portfolio-item.Pizza
            .portfolio-wrapper
              .portfolio-thumb
                img(src='./../../static/images/product1.jpg', alt='')
                .hover
                  .hover-iner
                    a.fancybox(href='./../../static/images/product1_big.jpg')
                      img(src='./../../static/images/open-icon.png', alt='')
                    span Pizza
              .label-text
                h3
                  a(href='#') Vege Pizza
                span.text-category $16.00
          .col-md-3.col-sm-6.mix.portfolio-item.soups
            .portfolio-wrapper
              .portfolio-thumb
                img(src='./../../static/images/product1.jpg', alt='')
                .hover
                  .hover-iner
                    a.fancybox(href='./../../static/images/product1_big.jpg')
                      img(src='./../../static/images/open-icon.png', alt='')
                    span Pizza
              .label-text
                h3
                  a(href='#') Vege Pizza
                span.text-category $16.00        
        .pagination
          .row
            .col-md-12
              ul
                li
                  a(href='#') Previous
                li
                  a(href='#') 1
                li
                  a(href='#') 2
                li
                  a(href='#') 3
                li
                  a(href='#') 4
                li
                  a(href='#') Next
