.fa-shopping-cart {
  color: orange;
}

.modal-header {
  padding: 0;
}

.modal-header .close {
  padding: 10px 15px;
}

.modal-header ul {
  border: none;
}

.modal-header ul li {
  margin: 0;
}

.modal-header ul li a {
  border: none;
  border-radius: 0;
}

.modal-header ul li.active a {
  color: #e12f27;
}

.modal-header ul li a:hover {
  border: none;
}

.modal-header ul li a span {
  margin-left: 10px;
}

.modal-body .form-group {
  margin-bottom: 10px;
}

a {
  color: #FE8E00;
}

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
*,
*:before,
*:after {
  box-sizing: border-box;
}

.lighter-text {
  color: #ABB0BE;
}

.main-color-text {
  color: $main-color;
}

nav {
  padding: 20px 0 40px 0;
  background: #F8F8F8;
  font-size: 16px;
  .navbar-left {
    float: left;
  }
  .navbar-right {
    float: right;
  }
  ul {
    li {
      display: inline;
      padding-left: 20px;
      a {
        color: #777777;
        text-decoration: none;
        &:hover {
          color: black;
        }
      }
    }
  }
}

.container {
  margin: auto;
  width: 80%;
}

.badge {
  /* background-color: #6394F8; */
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.shopping-cart {
  margin: 20px 0;
  float: right;
  background: white;
  width: 320px;
  position: relative;
  padding: 20px;
  border: 2px solid #545454;
  border-radius: 25px;
  .shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
    
  }
  .shopping-cart-items {
    padding-top: 20px;
    li {
      margin-bottom: 18px;
    }
    img {
      float: left;
      margin-right: 12px;
    }
    .item-name {
      display: block;
      padding-top: 10px;
      font-size: 16px;
    }
    .item-price {
      color: $main-color;
      margin-right: 8px;
    }
    .item-quantity {
      color: $light-text;
    }
  }
}

.cart-icon {
  font-size: 2em;
  /* margin-left: 40px; */
}

.button {
  background: $main-color;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;
  &:hover {
    background: lighten($main-color, 3%);
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.shopping-cart {
  z-index: 2;
  position: absolute;
}

.maps {
  padding-top: 2em;
}

.input-error {
  color: red;
}

.btn-danger{
  float: right;
}

.shopping-cart-total {
  margin-left:0;
}

.btn-warning{
  color:black !important;
}